<%- layout('layouts/boilerplate') %>

<!-- Content Section -->
<div id="top"></div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Your content goes here -->
        <!-- ... -->
        <% items.forEach(function(item) { %>
            <!-- Advertise block -->
            <div class="col-sm-12 col-xl-6 advert">
                <div class="bg-light text-center rounded p-4">
                    <!-- ... (ad details and form) ... -->
                </div>
            </div>
        <% }) %>
    </div>
</div>

<!-- ... (your existing script imports) ... -->
</body>
</html>
